@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/_LayoutFirst.cshtml";
}
@section Slider{
    <div id="SliderGioiThieu">
    </div>
}
@using WebDauTienVS2._0.Models;
@model PagedList.IPagedList<WebDauTienVS2._0.Models.QuestionsContain>
@using PagedList.Mvc;
<h2 id="Tua">Diễn đàn hỏi đáp lập trình</h2>
<button id="btXuLyPhai">
    <i class="fas fa-question"></i> @Html.ActionLink("Đặt câu hỏi", "AskQuestion", "DienDan")
</button>
<br />
<br />
@if (Model != null)
{
    foreach (var item in Model)
    {

        <div class="MucChat">
            <hr style="width: 780px" />
            <div class="TaiKhoanChat">
                <div>
                    <img class="avatar-user" src="~/Uploads/Avarta/@item.C_Avatar" /><p class="full-name-user">@Html.ActionLink(item.C_Fullname, "Profile", "DienDan", new { User = item.C_Username }, new { @class = "link" })  <br /><i class="far fa-thumbs-up"></i> @item.C_Likes <i class="far fa-thumbs-down dislike"></i> @item.C_Dislike <i class="fas fa-trophy Cups"></i> @item.C_Cups <i class="fas fa-signal online"></i> </p>
                </div>
                <div style="line-height: 14px; float: left;">
                    @if (item.C_ModiData != null)
                    {
                        <br /><i style="font-size: 12px; float: right">Chỉnh sửa: @item.C_ModiData</i>
                    }
                    <br /><i style="font-size: 12px; float: right"> Ngày đăng: @item.C_CreaData</i>
                </div><br />
            </div>
            <div style="float: left; width: 570px; min-height: 100px">
                <div>
                    @Html.ActionLink(item.C_Title, "ViewQuestion", "DienDan", new { id = item.C_ID_Q }, new { @class = "link" })
                </div>
                <div>
                    @item.C_Contents
                </div><br />
            </div>
        </div>

        @* <hr style="border: solid 1px #241a96" /><br />      *@
    }
}
<div id="phanTrang" style="float: left">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { id = page }))
</div>
@using (Html.BeginForm("AskQuestion", "DienDan"))
{
    if (Session["Permission"].ToString() != "3")
    {
        <b style="color: #ff0000; float: left">Vui lòng đăng nhập để gửi câu hỏi của bạn</b>
    }
    else
    {
        <table style="padding-top: 100px">
            <tr>
                <td valign="top"><img class="avatar-user" src="~/Uploads/Avarta/@Session["Avarta"]" /><p class="full-name-user">@Session["Fullname"]<br /><i class="far fa-thumbs-up"></i> @Session["Likes"].ToString() <i class="far fa-thumbs-down dislike"></i> @Session["Dislikes"].ToString() <i class="fas fa-trophy Cups"></i> @Session["Cups"].ToString() <i class="fas fa-signal online"></i> </p></td>
                <td><textarea name="Title" cols="65" rows="2" required placeholder="Nhập tiêu đề"></textarea></td>

            </tr>
            <tr>
                <td></td>
                <td valign="top"><textarea name="Reply" required placeholder="Nhập câu hỏi của bạn" cols="65" rows="4"></textarea></td>

            </tr>
        </table>
        <input id="btXuLyPhai" type="submit" value="Gửi câu trả lời" />
    }
}




